/*** Assets : ***/

@font-face {
    font-family: font-0;
    src: url(../assets/Prompt-Light.ttf);
}

@font-face {
    font-family: font-1;
    src: url(../assets/Oswald-VariableFont_wght.ttf);
}

/*** Title : ***/

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-family: font-0, serif;
    text-align: center;
    margin-top: 15px;
    font-size: 45px;
    color: whitesmoke;
    background-color: lightcoral;
    border-radius: 1.5rem;
    height: 60%;
    width: 60%;
    margin-left: 20%;
    box-shadow: 7px 9px red;
}

body {
    background: lightblue;
}

/*** Category ***/

ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

li {
    list-style-type: none;
    font-size: 1rem;
    height: 120px;
    width: 17rem;
    background: lightcoral;
    display: flex;
    align-items: center;
}

#accueil {
    justify-content: center;
    border-radius: 35px;
    box-shadow: 7px 9px red;
}

#discord {
    justify-content: center;
    border-radius: 35px;
    box-shadow: 7px 9px red;
}

#projet {
    justify-content: center;
    border-radius: 35px;
    box-shadow: 7px 9px red;
}

/*** Text ***/

.text {
    font-family: font-1, serif;
    background: lightcoral;
    text-align: left;
    margin-top: 150px;
    border-radius: 40px;
    box-shadow: 7px 9px red;
    color: whitesmoke;
    padding: 20px 20px 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 30px;

}

.iframediscord {
    box-shadow: 7px 9px #4c00ff;
    border-radius: 25px;
}

/*** Sign ***/

.sign {
    margin-top: 76px;
    margin-left: 30px;
    color: black;
    text-transform: uppercase;
}